---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import { BLOG_TITLE, BLOG_DESCRIPTION } from "../../consts";

import { getContentPieces } from "virtual:vrite";
const posts = await getContentPieces({ limit: "all" });
---

<!DOCTYPE html>
<html lang="en">
	<!-- ... -->
	<head>
		<BaseHead title={BLOG_TITLE} description={BLOG_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								{post.date && (
									<FormattedDate date={new Date(post.date)} />
								)}
								<a href={`/blog/${post.slug}/`}>{post.title}</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
