---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const title = SITE_TITLE + " - About";
const permalink = `${Astro.site}about`;
---

<BaseLayout
	title={title}
	description={SITE_DESCRIPTION}
	permalink={permalink}
	current="about"
>
	<div class="container">
		<h1>About</h1>
		<picture class="about-image">
			<img
				src="/assets/profile-pic.webp"
				alt="Headshot of Kieran Klukas"
				width="430"
			/>
			<figcaption>Kieran x Stable Diffusion</figcaption>
		</picture>
		<p>
			Hi there 👋. My name is Kieran Klukas, and I'm thrilled to have you here.
			I am a 10th-grade homeschooler, digital explorer, <a
				href="https://linuxhandbook.com/homelab/">Homelaber</a
			>, Videographer, and linux freak.
		</p>
		<p>
			One of my core passions is <a href="https://www.eff.org/issues/privacy"
				>Digital Privacy</a
			>. I firmly believe in the importance of protecting our personal
			information in this digital age. I am a strong advocate for the use of
			tools such as <a href="https://bitwarden.org/">Bitwarden</a>, and <a
				href="https://www.obdev.at/products/littlesnitch/">Little Snitch</a
			>.
		</p>
		<p>
			When I'm not doing school or working on a project, I enjoy takeing to the
			skies as an FPV (<a
				href="https://en.wikipedia.org/wiki/First-person_view_(radio_control)#Multi-rotor"
				>First-Person View</a
			>) pilot. The thrill of soaring through the air and diving through gaps is
			a experience I can best descrive as pure joy. I try to capture my flights
			for my YouTube channel, <a
				href="https://www.youtube.com/@wanderer.archives">Wanderer Archives</a
			>.
		</p>
		<p>
			In addition to coding, video production, and flying, I also enjoy learning
			the violin. I am also an avid reader and enjoy a wide variety of genres,
			but especially science fiction, and fantasy.
		</p>
	</div>
</BaseLayout>

<style>
	.about-image {
		float: right;
		margin: -3em -7em 2em 2em;
		max-width: 400px;
	}

	.about-image img {
		border-radius: 8px;
		margin-bottom: 0.5em;
	}

	.about-image figcaption {
		font-size: 0.9em;
		text-align: center;
		font-style: italic;
	}

	@media (max-width: 1020px) {
		.about-image {
			float: none;
			margin: 0 auto 2em;
		}
	}
</style>
