---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧭 Welcome, Explorer!</h1>
			<p>
				Welcome to my corner of the internet! My name is Kieran Klukas, and I'm glad you are here.
				I'm a 10th-grade homeschooler in love with technology and the endless possibilities it brings.
				<br />
				<li>I proudly identify as a Homelaber, and adore tinkering with technology.</li>
				<li>I'm a Linux enthusiast, and professional <a href="https://www.urbandictionary.com/define.php?term=distrohopper">distrohopper</a>.</li>
				<li>Privacy is my passion.</li>
				<li>When I'm not coding, I take to the skies as a <a href="https://en.wikipedia.org/wiki/First-person_view_(radio_control)#Multi-rotor">FPV pilot</a>, capturing pure joy through the lens of my drone.</li>
				<li>Videography is another passion of mine, which I explore through my Youtube channel <a href="https://youtube.com/@thefpvwanderer">The FPV Wanderer</a></li>
				<li>I'm also learning the violin.</li>
				<br />
				Join me as I embark on this digital wanderlust, exploring new horizons, and sharing my discoveries along the way.
			</p>
		</main>
		<Footer />
	</body>
</html>
