---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const title = SITE_TITLE + " - Home";

const permalink = Astro.site.href;
---

<BaseLayout title={title} description={SITE_DESCRIPTION} permalink={permalink}>
	<div class="home-container">
		<div class="home-copy">
			<h1>Welcome to my site!</h1>
			<p>
				Welcome to my corner of the internet! My name is Kieran Klukas, and I'm
				glad you are here. I'm a 10th-grade homeschooler in love with exploring technology
				and the world around me.
			</p>
		</div>

		<div class="hero-image-container">
			<picture>
				<source
					srcset="/assets/profile-pic.webp"
					media="(min-width: 600px)"
				/>
				<img
					class="hero-image"
					alt="Photo of Kieran Klukas"
					src="/assets/profile-pic.webp"
					width="550"
					height="466"
				/>
        <figcaption>Kieran Klukas x Stable Diffusion.</figcaption>
			</picture>
		</div>
	</div>
</BaseLayout>

<style>
	.home-container {
		align-items: center;
		display: flex;
		flex: 1;
		justify-content: center;
		margin: 2em auto;
		min-height: 400px;
	}

	.home-copy {
		flex: 1;
		padding: 0 1em;
	}

	.home-copy h1 {
		font-weight: 700;
		margin-bottom: 0.5em;
		line-height: 1.3;
	}

	.home-copy p {
		font-size: 1.4em;
	}

	.hero-image-container {
		margin: 0 1em;
		text-align: center;
	}

  .hero-image-container img {
    border-radius: 8px;
		margin-bottom: 0.5em;
  }

	.hero-image-container figcaption {
		font-size: 0.9em;
		font-style: italic;
		text-align: center;
	}

	.hero-image {
		width: 100%;
		max-width: 550px;
		margin-bottom: 1em;
	}

	@media (max-width: 1200px) {
		p {
			font-size: 1.2em;
		}

		.hero-image {
			max-width: 400px;
		}
	}

	@media (max-width: 800px) {
		.home-container {
			flex-direction: column;
		}

		.home-copy {
			flex: 0;
			padding-bottom: 2em;
			text-align: center;
		}
	}
</style>
