---
const url = `${Astro.site}`;
---
<div>
  <img src="/assets/profile-pic.webp" alt="Headshot of Kieran Klukas">
  <p>
    Hi, I'm <strong>Kieran</strong>. I'm a homeschooled 10th-grade student.
    See some of my work on <a href="https://www.github.com/kcoderhtml">GitHub</a>,
    or read more about me on <a href={url}>my website</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
