<footer>
  <span>
    &copy; {new Date().getFullYear()} Kieran Klukas. Powered by <a
      href="https://astro.build">Astro</a
    > and <a href="https://vrite.io/">Vrite</a>. Template by <a
      href="https://www.twitter.com/Charca">Maxi Ferreira</a
    >.
    <br />This work is licensed under a <a
      rel="license"
      href="http://creativecommons.org/licenses/by-sa/4.0/"
      >Creative Commons Attribution-ShareAlike 4.0 International License</a
    >.
  </span>
</footer>

<style>
  footer {
    color: var(--text-secondary);
    font-size: 0.8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
  }
</style>
