<style>
  img {
    display: block;
    width: 5em;
    position: absolute;
    border-radius: 100%;
    top: 1rem;
    left: 1rem;
  }
</style>

<a href="/">
  <img alt="Website Logo" src="/assets/profile-pic.webp" width="75" height="75"/>
</a>
