<style>
  img {
    display: block;
    width: 5em;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
</style>

<a href="/">
  <img alt="Website Logo" src="/assets/logo.webp" width="75" height="50">
</a>
